<!DOCTYPE html>

<html>
<head lang="en">

    <link rel="stylesheet" text="text/css" href="../stylesheets/style.css">
    <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/main.js" />


    <script>
//        var socket = io.connect();
//        socket.on('news', function (data) {
//            console.log(data);
//            socket.emit('my other event', { my: 'data' });
//        });

    </script>
    <meta charset="UTF-8">
    <title>BeatMe!</title>
</head>
<body>

    <header>
        <div class="content-wrapper clearfix">
            <div class="username" >Alex</div>
            <ul>
                <li>$100</li>
                <li class="coinsIcon"></li>
            </ul>
        </div>
    </header>

    <div class="mainBody">

        <!---Login page-->
        <div id="loginPage" class="startPage clearfix">
            <h1>BEAT ME</h1>
            <!--<button id="" class="btn">connect with facebook</button>-->

            <span class="loginButton">
                <span class="innerLogin"></span>

            </span><span class="loginButton">
                <span class="innerLogin"></span>

            </span>
        </div>

        <!--Games page-->
        <div id="iconsPage" >
            <div class="content-wrapper">
                <h1>Choose your game</h1>
                <div class="box">
                    <ul class="flex-container">
                        <li class="flex-item"><img data-game="" src="../images/red_icon.png"></li>
                        <li class="flex-item"><img data-game="speedTyping" src="../images/green_icon.png"></li>
                        <li class="flex-item"><img data-game="" src="../images/pink_icon.png"></li>
                    </ul>
                    <ul class="flex-container">
                        <li class="flex-item"><img data-game="" src="../images/grey_light.png"></li>
                        <li class="flex-item"><img data-game="" src="../images/orange_icon.png"></li>
                        <li class="flex-item"><img data-game="" src="../images/yellow_icon.png"></li>
                    </ul>
                    <ul class="flex-container">
                        <li class="flex-item"><img data-game="" src="../images/blue_icon.png"></li>
                        <li class="flex-item"><img data-game="" src="../images/grey_icon.png"></li>
                        <li class="flex-item"><img data-game="" src="../images/light_green_icon.png"></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Game Type Page-->
        <div id="rulesGame" >
            <div class="content-wrapper">
                <div class="top-container">
                    <img id="pic-game" src="../images/green_icon.png"/>
                    <h1 id="title-game">Speed typing</h1>
                </div>
                <ul id="descrip-game">
                    <li>hola</li>
                    <li>alkfakaf</li>
                    <li>hola</li>
                    <li>alkfakaf</li>
                </ul>
                <div>Train</div>
                <div>Play</div>
            </div>
        </div>

        <!-- Game Users List-->
        <div id="userList" >
            <div class="content-wrapper">
                <div class="top-container">
                    <!--<img id="pic-game1" src="../images/green_icon.png"/>-->
                    <h1 id="title-game">Users connected</h1>
                </div>
                <ul id="user-connected">

                </ul>
                <div>Train</div>
                <div>Play</div>
            </div>
        </div>

        <!--Game Begin -->
        <div id="gameStart" class="clearfix">
            <div class="content-wrapper flex-container clearfix">
                <ul class="player-container-left">
                    <li class="player-item"></li>
                    <li class="player-item">3</li>
                </ul>
                <ul class="player-container-right">
                    <li class="player-item"></li>
                    <li class="player-item  ">1</li>
                </ul>

                <div class="writeText">
                        <div id="opponentTxt">test</div>
                    <div id="timer" style="font-size: 20px;"></div>
                        <input type="text" name="word">
                </div>
            </div>
        </div>

    </div>



</body>
</html>