/* ==========================================================================
   #basic reset & import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html {
  box-sizing: border-box;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.mainBody{
  width: 80%;
  margin: 0 auto;
}

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
header{
  display: none;
}
header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background: #000088;
  color: #ffffff;
  font-size:22px;
  font-weight: 700;
}

header .username {
  padding-top: 37px;
  float: left;
}

header ul{
  float: right;
  display: inline-block;
  width: 17%;
  padding: 15px 0px;
}

header ul li:first-child{
  float: left;
  padding: 7px 14px;

}

header ul li:last-child{
  background: url("../images/coins_header.png") no-repeat;
  float: right;
  width: 45px;
  height: 40px;
  padding: 4px 8px;
}

h1 {
  color: #000088;
  text-align: center;
  padding: 20px;
}

/*Login page*/
#loginPage {
  display: block;
}

.startPage h1{
  font-size: 3.5em;
  left: 0;
  line-height: 65px;
  margin: auto;
  margin-top: -65px;
  position: absolute;
  top: 20%;
  width: 100%;
}

/*.btn{*/
  /*display: inline-block;*/
  /*font-weight: 400;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*cursor: pointer;*/
  /*background-image: none;*/
  /*border: 1px solid transparent;*/
  /*padding: 16px 50px;*/
  /*font-size: 20px;*/
  /*text-transform: uppercase;*/
  /*border-radius: 4px;*/
/*}*/

/*.btn-primary{*/

/*}*/

.startPage .loginButton {
  left: 0;
  line-height: 65px;
  margin: auto;
  margin-top: -90px;
  position: absolute;
  top: 70%;
  width: 100%;
}

.loginButton {
  background: url("../images/signup-with-facebook-button-png-i18.png") no-repeat;
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 30%;
  background-position: 50% 50%;
  cursor: pointer;
}

.innerLogin{
  display: block;
  height: 0;
  padding-top: 22.75%;
}

/*Games page*/
#iconsPage {
  display: none;
}

.box {
  /*border: 1px solid black;*/
  width: 60%;
  height: 600px;
  margin: 0 auto;
  padding: 0;
}

.flex-container{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
}

/*flex-direction: row | row-reverse | column | column-reverse;*/
/*justify-content: flex-start | flex-end | center | space-between | space-around;*/

.flex-item {
  /*background: tomato;*/
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

/*.box > ul {*/
  /*display: inline-flex;*/
  /*height: 160px;*/
/*}*/

/*.box > ul > li img{*/
  /*padding: 0px 46px 0 0px;*/
  /*cursor: pointer;*/
/*}*/

#rulesGame {
  display: none;
}

.top-container{
  padding-top: 50px;
}

img#pic-game {
  float: left;
  display: inline-block;
}

h1#title-game {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

/*user connected*/
#userList{
    display: none;
}

#gameStart{
  display: none;
}

.player-container-left{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  justify-content: flex-start;
  float: left;
}

.player-container-right{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  justify-content: flex-end;
  float: right;
}

.player-item{
  /*background: tomato;*/
  padding: 5px;
  width: 100px;
  height: 100px;
  margin-top: 15px;
  margin-right: 12px;

  line-height: 90px;
  color: blue;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  border: 1px solid black;
}

.writeText{

}.writeText form{
   left: 189px;
   line-height: 65px;
   margin: 0 auto;
   /* margin-top: -90px; */
   position: absolute;
   top: 190%;
 }

input[type=text] {
  width: 600px;
  height: 115px;
  display: block;
  margin-bottom: 10px;
  background-color: yellow;
}



@media (min-width: 1025px) {

  .box {
    width: 55%;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {

    .box {
      width: 63%;
    }
}

@media (min-width: 641px) and (max-width: 800px) {

  .box {
    width: 80%;
  }
}

@media (max-width: 640px) {

  .box {
    width: 100%;
  }
}




