/* ==========================================================================
   #basic reset & import
   ========================================================================== */

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

.mainBody{
  border: 1px solid red;
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  font-weight: bold;
}
header  {
  border: 1px solid blue;
  min-height: 10vh;
  align-self: stretch;
  flex: 1 2 auto;
}

footer {
  border: 1px solid black;
  min-height: 10vh;
  align-self: stretch;
  flex: 1 2 auto;
}

.startPage {
  /*border: 1px solid green;*/
  min-height: 80vh;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  flex: 3 2 auto;
}

.startPage h1{
  color: #000088;
  text-align: center;
  font-size: 3em;
  align-items: center;
}

/*Games page*/
#iconsPage {
  display: none;
}

.chooseGame {
  /*align-self: center;*/
  min-height: 80vh;
  /*display: flex;*/
  /*flex-direction:row;*/
  /*justify-content: space-around;*/
  /*flex: 3 2 auto;*/
  /*}*/
  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/

  /*-webkit-flex-flow: row nowrap;*/
  /*justify-content: space-around;*/
}

.chooseGame h1 {
  color: #000000;
  text-align: center;
  font-size: 2em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.flex-item{
  align-items: center;
 }

.flex-item img{
  padding: 5px 10px;
  cursor: pointer;
}

.currentGame{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerGame{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  padding: 10px;
}

.player-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;

}

.player-container-item{
  align-self: center;
border: 1px solid #D7DBDD;
/* font-size: 40px; */
width: 90px;
height: 90px;
border-radius: 100%;
box-shadow: 0 2px 1px rgba(#000000, 0.05), 0 2px 3px rgba(#000000, 0.05), 0 4px 8px rgba(#000000, 0.05);
}

.player-number-item{
  align-self: center;
  font-size: 24px;
  padding-left: 10px;
}

.player-container-right{
  /*margin-left: auto;*/
  /*max-width: 245px;*/
  border: 1px solid blue;
}
/*.flex-container1{*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*list-style: none;*/

  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/

  /*-webkit-flex-flow: row nowrap;*/
  /*justify-content: space-around;*/
/*}*/

/*.flex-item1 {*/
  /*background: tomato;*/
  /*padding: 5px;*/
  /*width: 200px;*/
  /*height: 150px;*/
  /*margin-top: 10px;*/

  /*line-height: 150px;*/
  /*color: white;*/
  /*font-weight: bold;*/
  /*font-size: 3em;*/
  /*text-align: center;*/
/*}*/





/*flex-direction: row | row-reverse | column | column-reverse;*/
/*justify-content: flex-start | flex-end | center | space-between | space-around;*/


/*.box > ul {*/
  /*display: inline-flex;*/
  /*height: 160px;*/
/*}*/

/*.box > ul > li img{*/
  /*padding: 0px 46px 0 0px;*/
  /*cursor: pointer;*/
/*}*/

#rulesGame {
  display: none;
}

/*.flex-header{*/
  /*width:100%;*/
  /*padding: 30px;*/
  /*margin: 0;*/
  /*list-style: none;*/

  /*display: -webkit-flex;*/
  /*display: flex;*/
  /*-webkit-flex-direction: row;*/
  /*flex-direction: row;*/

  /*-ms-box-orient: horizontal;*/
  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
  /*display: -moz-flex;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/
/*}*/

.flex-header img{
  margin-left: 2.5em;
}

.flex-header h1 {

}

.rules-item{
  padding: 10px;
  border: 1px solid grey;

  color: darkblue;
  font-weight: bold;
  font-size: 2em;
  line-height: 76px;
}

.rule-flex1{
  /*flex: 1 1 20em;*/
}
.rule-flex2{
  flex: 2 2 20em;
}

img#pic-game {

}

h1#title-game {
  margin: 0;
  padding: 0px 20px;
}

.flex-header ul#descrip-game {
  margin-left: 1em;
}

/*user connected*/
#userList{
    display: none;
  min-height: 80vh;
}

#gameStart{
  display: none;
}

.inputST {
    font-size: 80px;
    border: none;
}

/*.player-container-left{*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*list-style: none;*/

  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/

  /*-webkit-flex-flow: row nowrap;*/
  /*justify-content: flex-start;*/
  /*float: left;*/
/*}*/

/*.player-container-right{*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*list-style: none;*/

  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/

  /*-webkit-flex-flow: row nowrap;*/
  /*justify-content: flex-end;*/
  /*float: right;*/
/*}*/

/*.player-item{*/
  /*background: tomato;*/
  /*padding: 5px;*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*margin-top: 15px;*/
  /*margin-right: 12px;*/

  /*line-height: 90px;*/
  /*color: blue;*/
  /*font-weight: bold;*/
  /*font-size: 4em;*/
  /*text-align: center;*/
  /*border: 1px solid black;*/
/*}*/

.writeText{

}.writeText form{
   left: 189px;
   line-height: 65px;
   margin: 0 auto;
   /* margin-top: -90px; */
   position: absolute;
   top: 190%;
 }

input[type=text] {
  width: 600px;
  height: 115px;
  display: block;
  margin-bottom: 10px;
  background-color: yellow;
}

#gameEnd{
    display: none;
}

@media (min-width: 1025px) {

  .box {
    width: 55%;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {

    .box {
      width: 63%;
    }
}

@media (min-width: 641px) and (max-width: 800px) {

  .box {
    width: 80%;
  }

  .startPage h1{
    color: #000088;
    text-align: center;
    font-size: 5em;
    align-items: center;
  }


  .fbutton{
    width: 540px;
    height: 110px;
  }
}

@media (max-width: 640px) {

  .box {
    width: 100%;
  }

  .startPage h1{
    color: #000088;
    text-align: center;
    font-size: 5em;
    align-items: center;
  }


  .fbutton{
    width: 540px;
    height: 110px;
  }
}




