/* ==========================================================================
   #basic reset & import
   ========================================================================== */

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
    height: 100%;

}

body {
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
    height: 100%;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

img {
  border-style: none;
}

.mainBody{
  /*min-height: 100vh;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
header  {
  /*border: 1px solid blue;*/
  min-height: 10vh;

    font-weight: bold;
  align-self: stretch;
  /*flex: 1 2 auto;*/
    background: -moz-linear-gradient(89deg, rgba(176,255,252,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(176,255,252,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(89deg, rgba(176,255,252,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(89deg, rgba(176,255,252,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(89deg, rgba(176,255,252,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(1deg, rgba(176,255,252,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#B0FFFC',GradientType=0 ); /* ie6-9 */
}

footer {
  /*border: 1px solid black;*/
  min-height: 10vh;
  align-self: stretch;
  /*flex: 1 2 auto;*/
    background: rgba(224,239,249,1);
    background: -moz-linear-gradient(top, rgba(224,239,249,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 73%, rgba(242,246,248,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224,239,249,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(73%, rgba(181,198,208,1)), color-stop(100%, rgba(242,246,248,1)));
    background: -webkit-linear-gradient(top, rgba(224,239,249,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 73%, rgba(242,246,248,1) 100%);
    background: -o-linear-gradient(top, rgba(224,239,249,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 73%, rgba(242,246,248,1) 100%);
    background: -ms-linear-gradient(top, rgba(224,239,249,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 73%, rgba(242,246,248,1) 100%);
    background: linear-gradient(to bottom, rgba(224,239,249,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 73%, rgba(242,246,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8', GradientType=0 );
}

/*header elements*/
.top-label{
   display: flex;
    flex-direction: row;
   justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-label-section{
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.top-label-item{
    padding: 5px 15px;
    font-size: 1.5em;
}

.coinsIcon{
    background: url('../images/coins_header.png') no-repeat;
    padding: 19px 19px;
}

/*footer elements*/
.bottom-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


/*start page, login or connect to facebook*/
.startPage {
  /*border: 1px solid green;*/
  /*min-height: 80vh;*/
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  flex: 3 2 auto;
}

.startPage h1{
  color: #000088;
  text-align: center;
  font-size: 7em;
  align-items: center;
}

.startPage img.fbutton{
  width: 500px;
  height: 105px;
    margin: 0 auto;
}

.startPage .splashBeatMe{
    /*visibility: hidden;*/
}

/*All Games page*/
#iconsPage {
  display: none;
    /*min-height: 80vh;*/
    width:100%;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*flex: 3 2 auto;*/
}

.chooseGame {
    /*min-height: 80vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.chooseGame-label{
    /*border: 1px solid green;*/
    width: 90%;
    margin: 0 auto;
    min-height: 10vh;
}

.chooseGame-label h1 {
    color: #000000;
    text-align: center;
    font-size: 1.00em;
    line-height: 64px;
    margin: 0 auto;
}

.chooseGame-box{
    /*border: 1px solid blue;*/
    width: 90%;
    margin: 0 auto;
    /*min-height: 70vh;*/
}

.iconGame-row{
    display: flex;
    flex-direction: row;
    /*border: 1px solid greenyellow;*/
    align-items: center;
    align-content: center;
    justify-content: space-around;
    min-height: 23vh;
}

.iconGame-item{
    /*border: 1px solid orange;*/
}

.iconGame-item img{
    width: 90px;
    height: 90px;
}
    /*#iconsPage .chooseGame {*/
      /*align-self: center;*/
      /*min-height: 80vh;*/
      /*display: flex;*/
      /*flex-direction:row;*/
      /*justify-content: space-around;*/
      /*flex: 3 2 auto;*/
      /*}*/
      /*display: -webkit-box;*/
      /*display: -moz-box;*/
      /*display: -ms-flexbox;*/
      /*display: -webkit-flex;*/
      /*display: flex;*/

      /*-webkit-flex-flow: row nowrap;*/
      /*justify-content: space-around;*/
    /*}*/



/*.chooseGame .flex-container {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*align-content: center;*/
  /*justify-content: center;*/
    /*width: 85%;*/
    /*margin: 0 auto;*/
/*}*/

/*.flex-item{*/
  /*align-items: center;*/
 /*}*/

/*.flex-item img{*/
  /*padding: 30px 10px;*/
  /*cursor: pointer;*/
  /*width: 300px;*/
  /*border-style: none;*/
/*}*/

/*page when a game start */
.currentGame{
  /*min-height: 80vh;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.currentGame-top-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.headerGame{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-self: center;
  width: 85%;
}

.player-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid red;*/

}

.player-container-item{
  align-self: center;
  border: 0px solid #D7DBDD;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: -3px 3px 6px #888888;
}
/*picture from fb*/
.player-pic{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.shadow-border-red{
    border: 1px solid red;
    box-shadow: -3px 3px 6px red;
}
.player-number-item{
  align-self: center;
  font-size: 35px;
  padding-left: 10px;
}

.player-container-right{
  /*margin-left: auto;*/
  /*max-width: 245px;*/
  border: 1px solid blue;
}

.phrase-text{
    width: 85%;
    align-self: center;
    font-size: 1.75em;
    margin-top: 4%;
    font-weight: bold;
}

.bottomIconGames{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 85%;
}

.footer-icon{
  align-self: center;
  padding: 0 12px 0 12px;
    font-size: 1.5em;
    color: #9D9D00;
}

.coinsfooter{
  align-self: center;
  border: 1px solid #D7DBDD;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  box-shadow: -3px 3px 6px #888888;
    float: right;
}

.bottomIconGames:nth-child(3){
  font-size:4em;

}

#rulesGame {
  display: none;
}

.flex-header img{
  margin-left: 2.5em;
}

.flex-header h1 {

}

.rules-item{
  padding: 10px;
  border: 1px solid grey;

  color: darkblue;
  font-weight: bold;
  font-size: 2em;
  line-height: 76px;
}

.rule-flex1{
  /*flex: 1 1 20em;*/
}
.rule-flex2{
  flex: 2 2 20em;
}

.flex-header ul#descrip-game {
  margin-left: 1em;
}

/*user connected*/
#userList{
  display: none;
  width: 100%;
    height: 100%;
}

.connectedUsers{
  /*min-height: 80vh;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.userScreen{
  display: flex;
  /*min-height: 80vh;*/
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

}

.title-userScreen{
  min-height: 10vh;
  width:85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  /*border: 1px solid green;*/
}

.title-userScreen h1{
   font-size: 4em;
   font-weight: 700;
   margin: 0;
   text-align: center;
}

.currentUsers{
  /*min-height: 60vh;*/
    width:85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    /*border: 1px solid blue;*/
}

.user-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*users list page*/
.user-online div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.user-online div img{
    border: 1px solid;
}

.user-online div p{
    width: 76%;
    margin: 0;
    padding-left: 3%;
    font-size: 4em;
    line-height: 88px;
}

#gameStart{
  display: none;
  width: 100%;
    height: 100%;
  /*min-height: 80vh;*/
}

.writeText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 85%;
}

.wordBox{
  font-size: 10.75rem;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.wordBox:focus,
.wordBox.focus{
  border-bottom: solid 2px #969696;
  outline: none;
}

#gameEnd{
    display: none;
    /*min-height: 80vh;*/
    width: 100%;
}

.gameEnd-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.gameEnd-label{
    color: #000000;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.gameEnd-outcome{
    color: #86969C;
    font-size: 3em;
    margin-bottom: 15px;
    text-align: center;
}

.gameEnd-image img{
    width:300px;
    height:300px;
    margin-bottom: 20px;
}


.gameEnd-container button{
    padding: 10px 20px;
    color: #FFF;
    background-color: #4EBBE4;
    border: 1px solid #16A2D7;
    border-radius: 4px;
}
/*@media (min-width: 1025px) {*/

  /*.box {*/
    /*width: 55%;*/
  /*}*/
/*}*/

/*@media (min-width: 801px) and (max-width: 1024px) {*/

    /*.box {*/
      /*width: 63%;*/
    /*}*/
/*}*/

/*@media (min-width: 641px) and (max-width: 800px) {*/

  /*.box {*/
    /*width: 80%;*/
  /*}*/

  /*.startPage h1{*/
    /*color: #000088;*/
    /*text-align: center;*/
    /*font-size: 5em;*/
    /*align-items: center;*/
  /*}*/


  /*.fbutton{*/
    /*width: 540px;*/
    /*height: 110px;*/
  /*}*/
/*}*/

/*@media (max-width: 640px) {*/

  /*.box {*/
    /*width: 100%;*/
  /*}*/

  /*.startPage h1{*/
    /*color: #000088;*/
    /*text-align: center;*/
    /*font-size: 5em;*/
    /*align-items: center;*/
  /*}*/


  /*.fbutton{*/
    /*width: 540px;*/
    /*height: 110px;*/
  /*}*/
/*}*/

/*small screens*/
@media (max-width: 40em) {
  /* 40em = 640px */
    .startPage img.fbutton{
        width: 230px;
        height: 55px;
    }

    .startPage img.splashBeatMe{
        width: 300px;
        height: 300px;
        align-self: center;
    }


   /*#iconsPage .flex-item img{*/
       /*width: 100px;*/
       /*height: 100px;*/
    /*}*/

   .wordBox{
     font-size: 2.75rem;
   }


   /*---userList page---*/
    .title-userScreen h1 {
        font-size: 1.75em;
    }

    .user-online{
        padding: 0;
    }

    .user-online div img{
        width: 80px;
        height: 80px;
    }

    .user-online div p{
        width: 60%;
        font-size: 2em;
        line-height: 88px;
    }
    /*---gameEnd page---*/
    .gameEnd-label{
        font-size: 4em;
    }

    .gameEnd-image {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .footer-icon{
        padding: 4px 12px 0 6px;
    }

    .footer-icon img{
        width: 49px;
        height: 34px;
        padding: 0 12px 0 6px;
    }

    .coinsfooter{
        width: 51px;
        height: 51px;
    }

    .bottomIconGames:nth-child(3){
        font-size: 1.75em;
    }
}

/*timer*/


/* Styles for old versions of IE */
.timer {
    font-family: sans-serif;
    font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.timer:not(:required) {
    border: 6px solid #c8d;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 48px;
    height: 48px;
}
.timer:not(:required)::before {
    -webkit-animation: timer 1250ms infinite linear;
    -khtml-animation: timer 1250ms infinite linear;
    -moz-animation: timer 1250ms infinite linear;
    -ms-animation: timer 1250ms infinite linear;
    -o-animation: timer 1250ms infinite linear;
    animation: timer 1250ms infinite linear;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -webkit-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    background: #c8d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 19.2px;
    left: 15px;
    top: 15px;
}
.timer:not(:required)::after {
    -webkit-animation: timer 15000ms infinite linear;
    -khtml-animation: timer 15000ms infinite linear;
    -moz-animation: timer 15000ms infinite linear;
    -ms-animation: timer 15000ms infinite linear;
    -o-animation: timer 15000ms infinite linear;
    animation: timer 15000ms infinite linear;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -webkit-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    background: #c8d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 16px;
    left: 15px;
    top: 15px;
}

@-webkit-keyframes timer {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes timer {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes timer {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes timer {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



@media (max-height: 25em) {
  /*25em = 360px */
  #gameStart{

    /*min-height: 90vh;*/
  }
    /*header*/
  .top-label {
    display: none;
  }

  /*footer */
  .bottom-label{
    display: none;
  }

}






